**/.DS_Store
**/.git
**/.gitattributes
**/.gitignore
src/.env
src/composer.phar
src/node_modules
src/node_modules_local
src/storage/app/public/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
src/storage/oauth-private.key
src/storage/oauth-public.key
